body {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* remove IE default input clear button since we handle this ourselves  */
input::-ms-clear {
  display: none;
}

/* try to remove firefox default dotted line on focus since we handle this ourselves */
::-moz-focus-inner {
  border: 0;
}